<div class="accountbar"> 
    <% if(typeof user === "undefined"){ %>
        <a href="/messageboard/sign-up">Sign up</a>
        <a href="/messageboard/sign-in">Sign in</a>
     <% }else { %>
        <a href="/messageboard/account">Account</a>
        <form action="/messageboard/logout/" method="post" id="logout">
          <button type="submit" name="something">Logout</button>
        </form>
        <% } %>
</div>