<div class="accountbar"> 
    <%if(typeof user === "undefined"){ %>
        <a href="/messageboard/sign-up">Sign up</a>
        <a href="/messageboard/sign-in">Sign in</a>
      <% }else { %>
        <a href="/messageboard/account">Account</a>
        <a href="/messageboard/nothing">Log out</a>
        <% } %>
</div>