<%-include('header',{title:title}) %>

  <body>
    <%-include('accountBar',{title:title,user:typeof user === "undefined" ? undefined : user}) %>
    <div class="messages-title">
      <h1>
        <%= title %>
      </h1>
    </div>
    <div class="message-container">
      <div class="messages">
        <div class="message">
          <div class="message-detail">
            <div>user</div>
            <div>date</div>
          </div>
          <div class="message-content">content of message here with a really really super long super reall lng a really bug message that was written around the time where they had really long messages, you, I and all of us cannot believe how long this message really is.</div>
        </div>
        <div class="message">
          <div class="message-detail">
            <div>user</div>
            <div>date</div>
          </div>
          <div class="message-content">content of message here with a really really super long super reall lng a really bug message that was written around the time where they had really long messages, you, I and all of us cannot believe how long this message really is.</div>
        </div>  <div class="message">
          <div class="message-detail">
            <div>user</div>
            <div>date</div>
          </div>
          <div class="message-content">content of message here with a really really super long super reall lng a really bug message that was written around the time where they had really long messages, you, I and all of us cannot believe how long this message really is.</div>
        </div>  <div class="message">
          <div class="message-detail">
            <div>user</div>
            <div>date</div>
          </div>
          <div class="message-content">content of message here with a really really super long super reall lng a really bug message that was written around the time where they had really long messages, you, I and all of us cannot believe how long this message really is.</div>
        </div>  <div class="message">
          <div class="message-detail">
            <div>user</div>
            <div>date</div>
          </div>
          <div class="message-content">content of message here with a really really super long super reall lng a really bug message that was written around the time where they had really long messages, you, I and all of us cannot believe how long this message really is.</div>
        </div>
        <div class="message">
          <div class="message-detail">
            <div>user</div>
            <div>date</div>
          </div>
          <div class="message-content">content of message here with a really really super long super reall lng a really bug message that was written around the time where they had really long messages, you, I and all of us cannot believe how long this message really is.</div>
        </div>  <div class="message">
          <div class="message-detail">
            <div>user</div>
            <div>date</div>
          </div>
          <div class="message-content">content of message here with a really really super long super reall lng a really bug message that was written around the time where they had really long messages, you, I and all of us cannot believe how long this message really is.</div>
        </div>  <div class="message">
          <div class="message-detail">
            <div>user</div>
            <div>date</div>
          </div>
          <div class="message-content">content of message here with a really really super long super reall lng a really bug message that was written around the time where they had really long messages, you, I and all of us cannot believe how long this message really is.</div>
        </div>  <div class="message">
          <div class="message-detail">
            <div>user</div>
            <div>date</div>
          </div>
          <div class="message-content">content of message here with a really really super long super reall lng a really bug message that was written around the time where they had really long messages, you, I and all of us cannot believe how long this message really is.</div>
        </div>
      </div>
  </body>

  </html>